
@{
    ViewData["Title"] = " - Politika privatnosti";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">

    <a class="navbar-brand" id="WelcomeLogo" asp-area="" asp-controller="Home" asp-action="Index">
        <img src="~/lib/images/logo-large.png" class="img-fluid" />
    </a>

    <h2 class="display-4">Devito</h2>
</div>
<br />
<h2>Politika privatnosti</h2>
<div id="TermsOfUse" class="text-justify">
    <br />
    <h5 class="text-left">Saglasnost</h5>

    <p>Korišćenjem bilo koje sajta DevitoAnonymo.com, dajete saglasnost na uslove ove Politike privatnosti. DevitoAnonymo zadržava pravo da povremeno izmeni uslove iz ove Politike privatnosti, o čemu ćete biti obavešteni.</p>

    <br />

    <h5 class="text-left">Koje vrste podataka prikupljamo i čuvamo?</h5>

    <p>
        Vrsta i količina podataka koje čuvamo zavisi od načina na koji koristite sajt DevitoAnonymo.com
        <br /><br />
        Jednom delu stranica sajta možete pristupiti bez otkrivanja Vašeg identiteta ili bilo kog podatka o ličnosti. Naši mrežni serveri prikupljaju anonimne logove tokom korisničke posete sajtu DevitoAnonymo.com kako bi nas snabdeli korisnim informacijama za njeno unapređenje. Za više informacija, molimo Vas da pogledate Izjavu o korišćenju kolačića koja se nalazi niže.
        <br /><br />
        Ne prikupljamo podatke o ličnosti (kao što su ime, adresa stanovanja, broj telefona ili email adresa) putem sajta DevitoAnonymo.com osim ukoliko Vi odlučite da nam ih ustupite, na primer, kada izrazite želju da postanete registrovani član DevitoAnonymo. U tom slučaju, prikupljamo Vaše kontakt podatke, odnosno Vaše ime, adresu stanovanja, adresu elektronske pošte, broj telefona, broj mobilnog telefona itd.
    </p>

    <br />

    <h5 class="text-left">Kako koristimo prikupljene informacije?</h5>

    <p>Vaši lični podaci će se čuvati u tajnosti. Koristiće se samo u svrhe za koje su preuzeti, odnosno za potrebe registracije vašeg naloga na sajtu DevitoAnonymo.com, kao i za kontakt podatke prilikom slanja naručenih/kupljenih artikala sa našeg sajta.</p>

    <br />

    <h5 class="text-left">Koliko su bezbedni Vaši podaci?</h5>

    <p>Vaše lične podatke DevitoAnonymo i njihovi pružaoci usluga čuvaju u bezbednom okruženju.</p>

    <p>Preduzimamo odgovarajuće mere bezbednosti kako bismo zaštitili Vaše informacije od neovlašćenog pristupa, korišćenja, gubitka ili objavljivanja. Ovi sistemi i mere se redovno testiraju i ažuriraju ukoliko je potrebno.</p>

    <p>Ipak, prenos informacija putem interneta nikada nije u potpunosti bezbedan, pa iako se trudimo da zaštitimo lične podatke, ne možemo garantovati sigurnost informacija prenetih putem sajta DevitoAnonymo.com.</p>

    <br />

    <h5 class="text-left">Da li delimo Vaše lične informacije?</h5>

    <p>Nijedna informacija neće biti prodata trećoj organizaciji ili osobi. DevitoAnonymo smatra da su Vaši podaci poverljivi podaci. Nećemo deliti Vaše podatke sa trećim stranama, osim ako smo u obavezi da otkrijemo informacije po zakonu.</p>

    <br />

    <h5 class="text-left">Korišćenje kolačića</h5>

    <p>Kolačić je tekstualni podatak koji sajt prebacuje na hard disk računara tako da sajt može da zapamti ko ste. Kolačić obično sadrži ime Internet domena sa kojeg je došao, "životni vek" i vrednost, najčešće nasumično generisan jedinstveni broj. Možete da ograničite ili onemogućite upotrebu kolačića u podešavanjima vašeg internet pretraživača.</p>


    <br />
    <h5 class="text-left">Provajderi usluga</h5>

    <p>U sklopu Usluga mi pružamo plaćene proizvode i/ili usluge. U tom slučaju mi koristimo usluge trećih lica radi obrade uplata.</p>

    <p>Nećemo skladištiti niti skupljati detalje sa vaše platne kartice. Te informacije idu direktno našim obrađivačima uplata, trećim licima čija je obrada vaših ličnih informacija ustanovljena u njihovoj Politici Privatnosti. Ovi obrađivači uplata se drže standarda koje je postavio PCI-DSS po nalogu PCI Saveta o Sigurnosnim Standardima, koji predstavlja združeni napor brendova kao što su Visa, Master card, American Express i Discover. Uslovi PCI-DSS-a pomažu u garantovanju sigurnosti u rukovođenju informacijama o uplatama.</p>

    <p>Obrađivači uplata sa kojima poslujemo su: PayPay – njihovu Politiku Privatnosti možete pogledati na: <a target="_blank" href="https://www.paypal.com/webapps/mpp/ua/privacy-full">https://www.paypal.com/webapps/mpp/ua/privacy-full</a></p>

    <br />

    <h5 class="text-left">Kako možete pristupiti informacijama, ispraviti ih ili izbrisati?</h5>

    <p>Kada postanete registrovani član DevitoAnonymo, DevitoAnonymo čuva određene podatke. Zbog toga imate i određena prava koja se odnose na ove podatke. Imate pravo na pristup ličnim podacima koje imamo o Vama, da izmenite te informacije ili, u nekim okolnostima, povučete saglasnost sa obradom Vaših podataka.</p>

    <p>Možete pristupiti bilo kom od Vaših ličnih podataka koje DevitoAnonymo obrađuje, da proverite podatke i izbrišete ili ispravite sve neispravne ili nepotpune podatke. Ovo pravo možete iskoristiti tako što se možete javiti na adresu office@devitoanonymo.com ili tako što ćete na stranici sa podacima o vašem nalogu (devitoanonymo.com/Account/Details) kliknuti na taster "Izmeni korisničke podatke" ili "Izmeni pristupne podatke" u zavisnosti od toga šta želite da izmenite ili kliknuti na taster "Deaktiviraj nalog" ako želite da vaš nalog bude deaktiviran i obrisan.</p>
    <p>Ako imate dodatnih pitanja ili zabrinutosti u vezi sa Politikom privatnosti DevitoAnonymo molimo vas kontaktirajte:</p>

    <p>office@devitoanonymo.com</p>




</div>


