
@{
    ViewData["Title"] = " - Uslovi korišćenja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="text-center">

        <a class="navbar-brand" id="WelcomeLogo" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/lib/images/logo-large.png" class="img-fluid" />
        </a>

        <h2 class="display-4">Devito</h2>
    </div>
<br/>
<h2>Uslovi korišćenja</h2>
<div id="TermsOfUse" class="text-justify">
    <br/>
    <p>
        Hvala što ste posetili DevitoAnonymo.com. Vaš pristup, kao i korišćenje sajta podleže određenim uslovima korišćenja i važećim zakonskim propisima koji uređuju ovu oblast. Pristupom i korišćenjem sajta prihvatate navedene uslove korišćenja. Ukoliko ne prihvatate navedene uslove korišćenja bez ograničenja, molimo Vas da napustite sajt.
    </p>
    <br/>
    <h5>Intelektualna svojina</h5>

    <p>Sajt i svi njegovi tekstovi, logotipi, slike, audio i video materijali i ostali materijali jesu autorsko pravo ili vlasništvo DevitoAnonymo ili su na sajt postavljeni uz dozvolu vlasnika ili ovlašćenog nosioca prava.</p>

    <p>
        DevitoAnonymo zadržava sva registrovana i neregistrovana autorska prava na sajtu.

        Dozvoljeno je pregledanje, deljenje na društvanim mrežama ili korišćenje stranica sajta za lične, neprofitabilne, naučne i nekomercijalne svrhe.
    </p>

    <p>Dozvoljeno je korišćenje i objavljivanje informacija ili delova tekstova u nekomercijalne, neprofitabilne ili naučne svrhe uz eksplicitno navođenje sajta DevitoAnonymo.com kao izvora podataka.</p>

    <p>Nije dozvoljena izmena, kopiranje, reprodukcija, objavljivanje ili prodaja bilo kog materijala uključujući grafiku, tekst, ilustracije, informacije ili usluge dostupne na sajtu bez prethodne pismene dozvole DevitoAnonymo.</p>

    <p><strong>DevitoAnonymo će zaštiti svoja autorska prava, prava intelektualne svojine i ostala prava u najvećoj meri dozvoljenoj zakonom, uključujući i krivično gonjenje.</strong></p>



</div>

