@model DevitoWebsite.ViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = " - Promena lozinke";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var returnUrl = @Context.Request.Query["returnurl"];
}

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}

<h1>Promena lozinke</h1>
<p>Na email će vam biti poslat zahtev za promenu lozinke. </p>
<hr />


<div class="row">
    <div class="col-md-4 offset-md-4 mt-5">

        <div asp-validation-summary="ModelOnly"></div>


        <form method="post" asp-action="ForgotPasswordPost" asp-controller="Account" asp-route-returnurl="@returnUrl">

            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" type="text" class="form-control" />
                <span asp-validation-for="Email" class="text-warning"></span>

            </div>

            @Html.AntiForgeryToken()
            <div class="form-group">
                <input type="submit" value="Pošalji zahtev" class="btn btn-success" />
            </div>

        </form>




    </div>
</div>
<hr />
<div class="row mb-4 float-right">
    <div class="col">
        <p class="d-inline-block ">Nemate nalog? Napravite novi: </p>
        <a asp-action="Register" asp-controller="Account" class="btn btn-outline-info ml-1 btn-sm">Registruj me</a>
    </div>
</div>